@page
@model BoilerApp.Pages.MenuModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoilerApp - Menu</title>
</head>
<body>
    <h2>BoilerApp Menu</h2>
    <ul>
        <li><a href="/BoilerInfo">Change Boiler Information</a></li>
        <li><a href="/DataEntry">Enter Temperature/Pressure Data</a></li>
        <li><a href="/Graphs">View Graphs</a></li>
        <li><a href="/Recommendations">Get Recommendations</a></li>
    </ul>
</body>
</html>
